@import 'dh-normalize.css';
@import 'dh-breakpoints.css';
@import 'dh-borders.css';
@import 'dh-border-radius.css';
@import 'dh-buttons.css';
@import 'dh-font-smoothing.css';
@import 'dh-clearfix.css';
@import 'dh-colors-root.css';
@import 'dh-colors-basics.css';
@import 'dh-flex-grid.css';
@import 'dh-line-height.css';
@import 'dh-hide-show.css';
@import 'dh-linked-colors.css';
@import 'dh-font-styles.css';
@import 'dh-font-weight.css';
@import 'dh-forms.css';
@import 'dh-panels.css';
@import 'dh-lines-backs.css';
@import 'dh-mortar.css';
@import 'dh-shadows.css';
@import 'dh-scrollbar.css';
@import 'dh-text.css';
@import 'dh-truncate.css';
@import 'dh-typography.css';
@import 'dh-widths-heights.css';
@import 'dh-xOut.css';
@import 'dh-zIndex.css';

// img,
// video,
// audio {
//   max-width: 100%;
//   height: auto;
// }

::selection {
  color: #000;
  background: #fbd404;
}

.cursorPointer {
  cursor: pointer;
}

.hoverYellow:hover {
  background: hsl(51, 100%, 87%) !important;
}

.fillW,
.fillWhite {
  fill: white;
}
.fillK,
.fillBlack {
  fill: black;
}