.brT0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.brB0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.brL0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.brR0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


.br0 {
  border-radius: 0 !important;
}
.br2 {
  border-radius: 2px !important;
}
.br4 {
  border-radius: 4px !important;
}
.br6 {
  border-radius: 6px !important;
}
.br8 {
  border-radius: 8px !important;
}
.br10 {
  border-radius: 10px !important;
}
.br12 {
  border-radius: 12px !important;
}
.br14 {
  border-radius: 14px !important;
}
.br16 {
  border-radius: 16px !important;
}
.br18 {
  border-radius: 18px !important;
}
.br20 {
  border-radius: 20px !important;
}
.br25 {
  border-radius: 25px !important;
}
.br50 {
  border-radius: 50px !important;
}
.br75 {
  border-radius: 75px !important;
}
.br100 {
  border-radius: 100% !important;
}
