.border0 {
  border: 0px !important;
}
.borderLeft0,
.borderL0 {
  border-left: 0px !important;
}
.borderRight0,
.borderR0 {
  border-right: 0px !important;
}
.borderBottom0,
.borderB0 {
  border-bottom: 0px !important;
}
.borderTop0,
.borderT0 {
  border-top: 0px !important;
}
.borderLR0,
.borderX0 {
  border-left: 0px !important;
  border-right: 0px !important;
}
.borderTB0,
.borderY0 {
  border-top: 0px !important;
  border-bottom: 0px !important;
}


.border1 {
  border: 1px !important;
}
.border2 {
  border: 2px !important;
}
.border3 {
  border: 3px !important;
}
.border4 {
  border: 4px !important;
}
.border5 {
  border: 5px !important;
}
