.border0 {
  border-width: 0px !important;
}
.borderLeft0,
.borderL0 {
  border-left-width: 0px !important;
}
.borderRight0,
.borderR0 {
  border-right-width: 0px !important;
}
.borderBottom0,
.borderB0 {
  border-bottom-width: 0px !important;
}
.borderTop0,
.borderT0 {
  border-top-width: 0px !important;
}
.borderLR0,
.borderX0 {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}
.borderTB0,
.borderY0 {
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
}


.borderH {
  border-width: .5px !important;
}
.border1 {
  border-width: 1px !important;
}
.border2 {
  border-width: 2px !important;
}
.border3 {
  border-width: 3px !important;
}
.border4 {
  border-width: 4px !important;
}
.border5 {
  border-width: 5px !important;
}

.borderW,
.orderWhite {
  border-color: white !important;
}
.borderGrey25,
.borderGray25 {
  border-color: hsla(0, 0%, 0%, 0.25) !important;
}
.borderGrey50,
.borderGray50 {
  border-color: hsla(0, 0%, 0%, 0.5) !important;
}
.borderGrey75,
.borderGray75 {
  border-color: hsla(0, 0%, 0%, 0.75) !important;
}
.borderK,
.borderBlack {
  border-color: black !important;
}

.borderStyle-solid {
  border-style: solid !important;
}
.borderStyle-dashed {
  border-style: dashed !important;
}
.borderStyle-solid {
  border-style: solid !important;
}
.borderStyle-dotted {
  border-style: dotted !important;
}
.borderStyle-none {
  border-style: none !important;
}
