/* basic colors from Bootstrap */
.white {
  color: white !important;
}

.txtW {
  color: white !important;
}

.black {
  color: black;
}
.grey {
  color: grey;
}

.whiteBack {
  background: white !important;
}
.blackBack {
  background: black !important;
}
.greyBack {
  background: grey !important;
}

.muted {
  color: $dh-muted;
}

.primary {
  color: $dh-primary;
}

.success {
  color: $dh-success;
}

.info {
  color: $dh-info;
}

.warning {
  color: $dh-warning;
}

.danger {
  color: $dh-danger;
}

.secondary {
  color: $dh-secondary;
}

/* backgrounds */
.bg-primary {
  background-color: $dh-primary;
}

.bg-success {
  background-color: $dh-success;
}

.bg-info {
  background-color: $dh-info;
}

.bg-warning {
  background-color: $dh-warning;
}

.bg-danger {
  background-color: $dh-danger;
}

.bg-secondary {
  background-color: $dh-secondary;
}

.bg-dark {
  background-color: $dh-dark;
}

.bg-light {
  background-color: $dh-light;
}

.bg-transparent {
  background-color: $dh-transparent;
}
