.gridAuto {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gridAutoMinmax {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax minmax);
}

.center-flex {
  align-items: center;
  justify-content: center;
}

// flex
// flex
.flex {
  display: flex !important;
}

.flexNoWrap {
  flex-wrap: nowrap !important;
}

.flexWrap {
  flex-wrap: wrap !important;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexRowWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexRowWrapRev {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flexColumnWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexColumnWrapRev {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

// flex-grow
// flex-shrink
.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

// align-items
// align-items
.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-center {
  align-items: center;
}

.align-items-flex-baseline {
  align-items: baseline;
}

.align-items-flex-stretch {
  align-items: stretch;
}

// align-self
// align-self
.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: center;
}

.align-self-flex-baseline {
  align-self: baseline;
}

.align-self-flex-stretch {
  align-self: stretch;
}


// justify-content
// justify-content
.just-flex-start {
  justify-content: flex-start;
}

.just-center {
  justify-content: center;
}

.just-flex-end {
  justify-content: flex-end;
}

.just-space-between {
  justify-content: space-between;
}

.just-space-around {
  justify-content: space-around;
}

.just-space-evenly {
  justify-content: space-evenly;
}

// align-content
// align-content
.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.gap0 {
  gap: 0rem !important;
}
.gap1Q {
  gap: .25rem !important;
}
.gapH {
  gap: .5rem !important;
}
.gap3Q {
  gap: .75rem !important;
}
.gap1 {
  gap: 1rem !important;
}
.gap2 {
  gap: 2rem !important;
}
.gap3 {
  gap: 3rem !important;
}
.gap4 {
  gap: 4rem !important;
}
.gap5 {
  gap: 5rem !important;
}

.gapX0 {
  grid-column-gap: 0rem !important;
}
.gapXQ {
  grid-column-gap: .25rem !important;
}
.gapXH {
  grid-column-gap: .5rem !important;
}
.gapX3Q {
  grid-column-gap: .75rem !important;
}
.gapX1 {
  grid-column-gap: 1rem !important;
}
.gapX2 {
  grid-column-gap: 2rem !important;
}
.gapX3 {
  grid-column-gap: 3rem !important;
}
.gapX4 {
  grid-column-gap: 4rem !important;
}
.gapX5 {
  grid-column-gap: 5rem !important;
}

.gapY0 {
  grid-row-gap: 0rem !important;
}
.gapYQ {
  grid-row-gap: .25rem !important;
}
.gapYH {
  grid-row-gap: .5rem !important;
}
.gapY3Q {
  grid-row-gap: .75rem !important;
}
.gapY1 {
  grid-row-gap: 1rem !important;
}
.gapY2 {
  grid-row-gap: 2rem !important;
}
.gapY3 {
  grid-row-gap: 3rem !important;
}
.gapY4 {
  grid-row-gap: 4rem !important;
}
.gapY5 {
  grid-row-gap: 5rem !important;
}
