.redline {
  border: 1px solid rgb(255, 70, 70) !important;
}

.blueline {
  border: 1px solid rgb(59, 59, 255) !important;
}
.redlineBack {
  border: 1px solid rgb(255, 70, 70) !important;
  background: pink;
}

.bluelineBack {
  border: 1px solid rgb(59, 59, 255) !important;
  background: rgb(35, 255, 255) !important;
}

// LINES
// white, grey, black
.whiteline {
  border: 1px solid white;
}
.greyline0 {
  border: 1px solid hsla(0, 0%, 0%, 0.00) !important;
}
.greyline01 {
  border: 1px solid hsla(0, 0%, 0%, 0.1) !important;
}
.greyline01 {
  border: 1px solid hsla(0, 0%, 0%, 0.1) !important;
}
.greyline,
.greyline02 {
  border: 1px solid hsla(0, 0%, 0%, 0.2) !important;
}
.greyline04 {
  border: 1px solid hsla(0, 0%, 0%, 0.4) !important;
}
.greyline05 {
  border: 1px solid hsla(0, 0%, 0%, 0.5) !important;
}
.greyline06 {
  border: 1px solid hsla(0, 0%, 0%, 0.6) !important;
}
.greyline08 {
  border: 1px solid hsla(0, 0%, 0%, 0.8) !important;
}
.greyline100,
.blackline {
  border: 1px solid hsla(0, 0%, 0%, 1) !important;
}

// lines with backgrounds
.greylineBack0,
.greylineBackWhite {
  border: 1px solid hsla(0, 0%, 0%, 0.15) !important;
  background: white;
}
.greylineBack02 {
  border: 1px solid hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 0%, 0.01) !important;
}
.greylineBack04 {
  border: 1px solid hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 0%, 0.04) !important;
}
.greylineBack06 {
  border: 1px solid hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 0%, 0.06) !important;
}
.greylineBack08 {
  border: 1px solid hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 0%, 0.08) !important;
}
.greylineBack10 {
  border: 1px solid hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 0%, 0.10) !important;
}
.greylineBack25 {
  border: 1px solid hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 0%, 0.25) !important;
}
.greylineBack50 {
  border: 1px solid hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 0%, 0.50) !important;
}
.greylineBack75 {
  border: 1px solid hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 0%, 0.75) !important;
}
.greylineBack100,
.greylineBackBlack {
  border: 1px solid hsla(0, 0%, 0%, 0.25) !important;
  background: hsla(0, 0%, 0%, 1) !important;
}


.greyBack0,
.greyBackWhite {
  background: white;
}
.greyBack01 {
  background: hsla(0, 0%, 0%, 0.01) !important;
}
.greyBack02 {
  background: hsla(0, 0%, 0%, 0.01) !important;
}
.greyBack03 {
  background: hsla(0, 0%, 0%, 0.03) !important;
}
.greyBack04 {
  background: hsla(0, 0%, 0%, 0.04) !important;
}
.greyBack05 {
  background: hsla(0, 0%, 0%, 0.05) !important;
}
.greyBack06 {
  background: hsla(0, 0%, 0%, 0.06) !important;
}
.greyBack07 {
  background: hsla(0, 0%, 0%, 0.07) !important;
}
.greyBack08 {
  background: hsla(0, 0%, 0%, 0.08) !important;
}
.greyBack09 {
  background: hsla(0, 0%, 0%, 0.09) !important;
}
.greyBack10 {
  background: hsla(0, 0%, 0%, 0.10) !important;
}
.greyBack25 {
  background: hsla(0, 0%, 0%, 0.25) !important;
}
.greyBack50 {
  background: hsla(0, 0%, 0%, 0.50) !important;
}
.greyBack75 {
  background: hsla(0, 0%, 0%, 0.75) !important;
}
.greyBack100,
.greyBackBlack {
  background: hsla(0, 0%, 0%, 1) !important;
}
