.redline { border: 1px solid rgb(255, 70, 70); }

.blueline { border: 1px solid rgb(59, 59, 255); }
.redlineBack { border: 1px solid rgb(255, 70, 70); background: pink; }
.bluelineBack { border: 1px solid rgb(59, 59, 255); background: rgb(35, 255, 255); }

/* // LINES */
/* // white, grey, black */
.whiteline { border: 1px solid white; }
.greyline0 { border: 1px solid hsla(0, 0%, 0%, 0.00); }
.greyline01 { border: 1px solid hsla(0, 0%, 0%, 0.1); }
.greyline01 { border: 1px solid hsla(0, 0%, 0%, 0.1); }
.greyline,
.greyline02 { border: 1px solid hsla(0, 0%, 0%, 0.2); }
.greyline04 { border: 1px solid hsla(0, 0%, 0%, 0.4); }
.greyline05 { border: 1px solid hsla(0, 0%, 0%, 0.5); }
.greyline06 { border: 1px solid hsla(0, 0%, 0%, 0.6); }
.greyline08 { border: 1px solid hsla(0, 0%, 0%, 0.8); }
.greyline100,
.blackline { border: 1px solid hsla(0, 0%, 0%, 1); }

/* // lines with backgrounds */
.greylineBack0,
.greylineBackWhite { border: 1px solid hsla(0, 0%, 0%, 0.15); background: white; }
.greylineBack02 { border: 1px solid hsla(0, 0%, 0%, 0.25); background: hsla(0, 0%, 0%, 0.01); }
.greylineBack04 { border: 1px solid hsla(0, 0%, 0%, 0.25); background: hsla(0, 0%, 0%, 0.04); }
.greylineBack06 { border: 1px solid hsla(0, 0%, 0%, 0.25); background: hsla(0, 0%, 0%, 0.06); }
.greylineBack08 { border: 1px solid hsla(0, 0%, 0%, 0.25); background: hsla(0, 0%, 0%, 0.08); }
.greylineBack10 { border: 1px solid hsla(0, 0%, 0%, 0.25); background: hsla(0, 0%, 0%, 0.10); }
.greylineBack25 { border: 1px solid hsla(0, 0%, 0%, 0.25); background: hsla(0, 0%, 0%, 0.25); }
.greylineBack50 { border: 1px solid hsla(0, 0%, 0%, 0.25); background: hsla(0, 0%, 0%, 0.50); }
.greylineBack75 { border: 1px solid hsla(0, 0%, 0%, 0.25); background: hsla(0, 0%, 0%, 0.75); }
.greylineBack100,
.greylineBackBlack { border: 1px solid hsla(0, 0%, 0%, 0.25); background: hsla(0, 0%, 0%, 1); }


.backGrey0,
.backWhite { background: white; }
.backGrey01{ background: hsla(0, 0%, 0%, 0.01); }
.backGrey02 { background: hsla(0, 0%, 0%, 0.01); }
.backGrey03 { background: hsla(0, 0%, 0%, 0.03); }
.backGrey04 { background: hsla(0, 0%, 0%, 0.04); }
.backGrey05 { background: hsla(0, 0%, 0%, 0.05); }
.backGrey06 { background: hsla(0, 0%, 0%, 0.06); }
.backGrey07 { background: hsla(0, 0%, 0%, 0.07); }
.backGrey08 { background: hsla(0, 0%, 0%, 0.08); }
.backGrey09 { background: hsla(0, 0%, 0%, 0.09); }
.backGrey10 { background: hsla(0, 0%, 0%, 0.10); }
.backGrey25 { background: hsla(0, 0%, 0%, 0.25); }
.backGrey50 { background: hsla(0, 0%, 0%, 0.50); }
.backGrey75 { background: hsla(0, 0%, 0%, 0.75); }
.backGrey100,
.backBlack { background: hsla(0, 0%, 0%, 1); }
