$col-white: hsl(0, 0%, 100%);
$col-grey-90: hsl(0, 0%, 90%);
$col-grey-80: hsl(0, 0%, 80%);
$col-grey-70: hsl(0, 0%, 70%);
$col-grey-60: hsl(0, 0%, 60%);
$col-grey-50: hsl(0, 0%, 50%);
$col-grey-40: hsl(0, 0%, 40%);
$col-grey-30: hsl(0, 0%, 30%);
$col-grey-20: hsl(0, 0%, 20%);
$col-grey-10: hsl(0, 0%, 10%);
$col-black: hsl(0, 0%, 00%);

$col-primary: #007bff !important;
$col-blue: #0051a7 !important;
$col-success: #1d8d37 !important;
$col-green: #0d5e20 !important;
$col-info: #17a2b8 !important;
$col-lightblue: #1bbad2 !important;
$col-warning: #d09c01 !important;
$col-gold: #e5ac00 !important;
$col-amber: #d07d01 !important;
$col-danger: #dc3545 !important;
$col-red: #a90000 !important;
$col-purple: rgb(154, 0, 126) !important;
$col-beige: beige !important;
$col-tan: rgb(187, 187, 138) !important;
$col-secondary: #6c757d !important;
$col-muted: #6c757d !important;
$col-light: #f8f9fa !important;
$col-dark: #212529 !important;
$col-transparent: transparent !important;
