// @import 'cc-normalize';
// @import 'cc-breakpoints';
@import 'cc-colors-root';
@import 'cc-colors-basics';
@import 'cc-cursor';

@import 'cc-background';
@import 'cc-background-colors';
@import 'cc-borders';
@import 'cc-border-colors';
@import 'cc-border-radius';
@import 'cc-buttons';
// @import 'cc-font-smoothing';
@import 'cc-display';
@import 'cc-elevation';
@import 'cc-flex';
@import 'cc-float';
@import 'cc-fonts';
@import 'cc-font-size';
@import 'cc-gap';
@import 'cc-grid';
@import 'cc-line-height';
@import 'cc-opacity';
@import 'cc-overflow';
// @import 'cc-linked-colors';

// @import 'cc-forms';
@import 'cc-panels';
@import 'cc-position';
@import 'cc-mortar';
// @import 'cc-shadows';
@import 'cc-scrollbar';
@import 'cc-visibility';
// @import 'cc-truncate';
// @import 'cc-typography';
@import 'cc-widths-heights';
@import 'cc-xOut';
@import 'cc-z-index';

// img,
// video,
// audio {
//   max-width: 100%;
//   height: auto;
// }

::selection {
  color: #000;
  background: #fbd404;
}

.cursorPointer {
  cursor: pointer;
}

.hoverYellow:hover {
  background: hsl(51, 100%, 87%) !important;
}

.fillW,
.fillWhite {
  fill: white;
}
.fillK,
.fillBlack {
  fill: black;
}