.bg-size-auto { background-size: auto; }
.bg-size-cover { background-size: cover; }
.bg-size-contain { background-size: contain; }

.bg-repeat-repeat { background-repeat: repeat; }
.bg-repeat-no-repeat,
.bg-no-repeat { background-repeat: no-repeat; }
.bg-repeat-repeat-x { background-repeat: repeat-x; }
.bg-repeat-repeat-y { background-repeat: repeat-y; }

.bg-pos-bottom { background-position: bottom; }
.bg-pos-center { background-position: center; }
.bg-pos-left { background-position: left; }
.bg-pos-left-bottom { background-position: left-bottom; }
.bg-pos-left-top { background-position: left-top; }
.bg-pos-right { background-position: right; }
.bg-pos-right-bottom { background-position: right-bottom; }
.bg-pos-right-top { background-position: right-top; }
.bg-pos-top { background-position: top; }