

.bg-grey-0,
.bg-white { background: white !important; }
.bg-grey-01{ background: hsla(0, 0%, 0%, 0.01) !important; }
.bg-grey-02 { background: hsla(0, 0%, 0%, 0.01) !important; }
.bg-grey-03 { background: hsla(0, 0%, 0%, 0.03) !important; }
.bg-grey-04 { background: hsla(0, 0%, 0%, 0.04) !important; }
.bg-grey-05 { background: hsla(0, 0%, 0%, 0.05) !important; }
.bg-grey-06 { background: hsla(0, 0%, 0%, 0.06) !important; }
.bg-grey-07 { background: hsla(0, 0%, 0%, 0.07) !important; }
.bg-grey-08 { background: hsla(0, 0%, 0%, 0.08) !important; }
.bg-grey-09 { background: hsla(0, 0%, 0%, 0.09) !important; }
.bg-grey-10 { background: hsla(0, 0%, 0%, 0.10) !important; }
.bg-grey-25 { background: hsla(0, 0%, 0%, 0.25) !important; }
.bg-grey-50 { background: hsla(0, 0%, 0%, 0.50) !important; }
.bg-grey-75 { background: hsla(0, 0%, 0%, 0.75) !important; }
.bg-grey-100,
.bg-black { background: hsla(0, 0%, 0%, 1) !important; }

.bg-off-white { background: #F7F7F7 !important; }
.bg-off-white2 { background: #EFEFEF !important; }

.bg-blue { background-color: #007bff !important; }
.bg-green { background-color: #28a745 !important; }
.bg-blue { background-color: #17a2b8 !important; }
.bg-amber { background-color: #ffc107 !important; }
.bg-red { background-color: #dc3545 !important; }
.bg-grey { background-color: #6c757d !important; }
.bg-muted { background-color: #6c757d !important; }
.bg-light { background-color: #f8f9fa !important; }
.bg-dark { background-color: #212529 !important; }
.bg-transparent { background-color: transparent !important; }

.bg-trans-black-100 { background: $trans-black-100 !important; }
.bg-trans-black-200 { background: $trans-black-200 !important; }
.bg-trans-black-300 { background: $trans-black-300 !important; }
.bg-trans-black-400 { background: $trans-black-400 !important; }
.bg-trans-black-500 { background: $trans-black-500 !important; }

.bg-trans-white-100 { background: $trans-white-100 !important; }
.bg-trans-white-200 { background: $trans-white-200 !important; }
.bg-trans-white-300 { background: $trans-white-300 !important; }
.bg-trans-white-400 { background: $trans-white-400 !important; }
.bg-trans-white-500 { background: $trans-white-500 !important; }