.col-primary { color: $col-primary !important; }
.col-blue { color: $col-blue !important; }
.col-success { color: $col-success !important; }
.col-green { color: $col-green !important; }
.col-info { color: $col-info !important; }
.col-lightblue { color: $col-lightblue !important; }
.col-warning { color: $col-warning !important; }
.col-gold { color: $col-gold !important; }
.col-amber { color: $col-amber !important; }
.col-danger { color: $col-danger !important; }
.col-red { color: $col-red !important; }
.col-purple { color: $col-purple !important; }
.col-beige { color: $col-beige !important; }
.col-tan { color: $col-tan !important; }
.col-secondary { color: $col-secondary !important; }
.col-muted { color: $col-muted !important; }
.col-light { color: $col-light !important; }
.col-dark { color: $col-dark !important; }
.col-transparent { color: $col-transparent !important; }

.col-white { color: $col-white !important; }
.col-grey-90 { color: $col-grey-90 !important; }
.col-grey-80 { color: $col-grey-80 !important; }
.col-grey-70 { color: $col-grey-70 !important; }
.col-grey-60 { color: $col-grey-60 !important; }
.col-grey-50, .col-grey { color: $col-grey-50 !important; }
.col-grey-40 { color: $col-grey-40 !important; }
.col-grey-30 { color: $col-grey-30 !important; }
.col-grey-20 { color: $col-grey-20 !important; }
.col-grey-10 { color: $col-grey-10 !important; }
.col-black { color: $col-black !important; }


.col-trans-black-100 { color: $trans-black-100 !important; }
.col-trans-black-200 { color: $trans-black-200 !important; }
.col-trans-black-300 { color: $trans-black-300 !important; }
.col-trans-black-400 { color: $trans-black-400 !important; }
.col-trans-black-500 { color: $trans-black-500 !important; }
.col-trans-white-100 { color: $trans-white-100 !important; }
.col-trans-white-200 { color: $trans-white-200 !important; }
.col-trans-white-300 { color: $trans-white-300 !important; }
.col-trans-white-400 { color: $trans-white-400 !important; }
.col-trans-white-500 { color: $trans-white-500 !important; }

/* backgrounds */
/* backgrounds */
.bg-primary { background-color: $col-primary !important; }
.bg-blue { background-color: $col-blue !important; }
.bg-success { background-color: $col-success !important; }
.bg-green { background-color: $col-green !important; }
.bg-info { background-color: $col-info !important; }
.bg-lightblue { background-color: $col-lightblue !important; }
.bg-warning { background-color: $col-warning !important; }
.bg-gold { background-color: $col-gold !important; }
.bg-amber { background-color: $col-amber !important; }
.bg-danger { background-color: $col-danger !important; }
.bg-red { background-color: $col-red !important; }
.bg-purple { background-color: $col-purple !important; }
.bg-beige { background-color: $col-beige !important; }
.bg-tan { background-color: $col-tan !important; }
.bg-secondary { background-color: $col-secondary !important; }
.bg-muted { background-color: $col-muted !important; }
.bg-dark { background-color: $col-dark !important; }
.bg-light { background-color: $col-light !important; }
.bg-transparent { background-color: $col-transparent !important; }


.bg-trans-black-100 { background-color: $trans-black-100 !important; }
.bg-trans-black-200 { background-color: $trans-black-200 !important; }
.bg-trans-black-300 { background-color: $trans-black-300 !important; }
.bg-trans-black-400 { background-color: $trans-black-400 !important; }
.bg-trans-black-500 { background-color: $trans-black-500 !important; }
.bg-trans-white-100 { background-color: $trans-white-100 !important; }
.bg-trans-white-200 { background-color: $trans-white-200 !important; }
.bg-trans-white-300 { background-color: $trans-white-300 !important; }
.bg-trans-white-400 { background-color: $trans-white-400 !important; }
.bg-trans-white-500 { background-color: $trans-white-500 !important; }
