.display-none { display: none !important; }

.display-flex { display: flex !important; } // .flex
.display-inline-flex { display: inline-flex !important; } // .flex
.display-grid { display: grid !important; } // .grid
.display-subgrid { display: subgrid !important; } // .grid

.display-block { display: block !important; }
.display-inline-block { display: inline-block !important; }

.display-inline { display: inline !important; }
.display-inline-flex { display: inline-flex !important; }

.display-table { display: table !important; }
.display-table-row { display: table-row !important; }
.display-table-cell { display: table-cell !important; }

.display-unset { display: unset !important; }