.fw-initial { font-style: initial !important; }
.fw-normal { font-weight: normal !important; }
.fw-italic { font-style: italic !important; }
.fw-oblique { font-style: oblique !important; }
.fw-light { font-weight: light !important; }
.fw-lighter { font-weight: lighter !important; }
.fw-bold { font-weight: bold !important; }
.fw-bolder { font-weight: bolder !important; }
.fw-100 { font-weight: 100 !important; }
.fw-200 { font-weight: 200 !important; }
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }
.fw-800 { font-weight: 800 !important; }
.fw-900 { font-weight: 900 !important; }

.td-underline { text-decoration: underline !important; }
.td-none { text-decoration: none !important; }
.td-line-through { text-decoration: line-through !important; }

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

.tt-normalcase { font-style: normal !important; }
.tt-lowercase { text-transform: lowercase !important; }
.tt-uppercase { text-transform: uppercase !important; }
.tt-capitalize { text-transform: capitalize !important; }
.tt-unset { text-transform: unset !important; }

.antialiased { font-smoothing: antialiased !important; }

.ls-tight { letter-spacing: -1px !important; }
.ls-normal { letter-spacing: 0px !important; }
.ls-loose { letter-spacing: 1px !important; }
.ls-looser { letter-spacing: 2px !important; }
.ls-loosest { letter-spacing: 5px !important; }

.ws-normal { whitespace: normal !important; }
.ws-nowrap { whitespace: nowrap !important; }
