/* WIDTHS PERCENTAGES */
.w0 { width: 0% !important; }
.w05 { width: 05% !important; }
.w10 { width: 10% !important; }
.w15 { width: 15% !important; }
.w20 { width: 20% !important; }
.w25 { width: 25% !important; }
.w30 { width: 30% !important; }
.w35 { width: 35% !important; }
.w40 { width: 40% !important; }
.w45 { width: 45% !important; }
.w50 { width: 50% !important; }
.w55 { width: 55% !important; }
.w60 { width: 60% !important; }
.w65 { width: 65% !important; }
.w70 { width: 70% !important; }
.w75 { width: 75% !important; }
.w80 { width: 80% !important; }
.w85 { width: 85% !important; }
.w90 { width: 90% !important; }
.w95 { width: 95% !important; }
.w100 { width: 100% !important; }

/* HEIGHTS PERCENTAGES */
.h0 { height: 0% !important; }
.h05 { height: 05% !important; }
.h10 { height: 10% !important; }
.h15 { height: 15% !important; }
.h20 { height: 20% !important; }
.h25 { height: 25% !important; }
.h30 { height: 30% !important; }
.h35 { height: 35% !important; }
.h40 { height: 40% !important; }
.h45 { height: 45% !important; }
.h50 { height: 50% !important; }
.h55 { height: 55% !important; }
.h60 { height: 60% !important; }
.h65 { height: 65% !important; }
.h70 { height: 70% !important; }
.h75 { height: 75% !important; }
.h80 { height: 80% !important; }
.h85 { height: 85% !important; }
.h90 { height: 90% !important; }
.h95 { height: 95% !important; }
.h100 { height: 100% !important; }

// WIDTH rems
.w00rem { width: 0rem !important; }
.wQrem { width: .25rem !important; }
.wHrem { width: .5rem !important; }
.w3Qrem { width: .75rem !important; }
.w01rem { width: 1rem !important; }
.w02rem { width: 2rem !important; }
.w03rem { width: 3rem !important; }
.w04rem { width: 4rem !important; }
.w05rem { width: 5rem !important; }
.w06rem { width: 6rem !important; }
.w07rem { width: 7rem !important; }
.w08rem { width: 8rem !important; }
.w09rem { width: 9rem !important; }
.w10rem { width: 10rem !important; }

// HEIGHT rems
.h00rem { height: 0rem !important; }
.hQrem { height: .25rem !important; }
.hHrem { height: .5rem !important; }
.h3Qrem { height: .75rem !important; }
.h01rem { height: 1rem !important; }
.h02rem { height: 2rem !important; }
.h03rem { height: 3rem !important; }
.h04rem { height: 4rem !important; }
.h05rem { height: 5rem !important; }
.h06rem { height: 6rem !important; }
.h07rem { height: 7rem !important; }
.h08rem { height: 8rem !important; }
.h09rem { height: 9rem !important; }
.h10rem { height: 10rem !important; }


// WIDTHS PIXELS
.w0px { width: 0px !important; }
.w10px { width: 10px !important; }
.w20px { width: 20px !important; }
.w30px { width: 30px !important; }
.w40px { width: 40px !important; }
.w50px { width: 50px !important; }
.w60px { width: 60px !important; }
.w70px { width: 70px !important; }
.w80px { width: 80px !important; }
.w90px { width: 90px !important; }
.w100px { width: 100px !important; }

.w200px { width: 200px !important; }
.w300px { width: 300px !important; }
.w400px { width: 400px !important; }
.w500px { width: 500px !important; }
.w600px { width: 600px !important; }
.w700px { width: 700px !important; }
.w800px { width: 800px !important; }
.w900px { width: 900px !important; }
.w1000px { width: 1000px !important; }

// HEIGHT PIXELS
.h0px { height: 0px !important; }
.h10px { height: 10px !important; }
.h20px { height: 20px !important; }
.h30px { height: 30px !important; }
.h40px { height: 40px !important; }
.h50px { height: 50px !important; }
.h60px { height: 60px !important; }
.h70px { height: 70px !important; }
.h80px { height: 80px !important; }
.h90px { height: 90px !important; }
.h100px { height: 100px !important; }

.h200px { height: 200px !important; }
.h300px { height: 300px !important; }
.h400px { height: 400px !important; }
.h500px { height: 500px !important; }
.h600px { height: 600px !important; }
.h700px { height: 700px !important; }
.h800px { height: 800px !important; }
.h900px { height: 900px !important; }
.h1000px { height: 1000px !important; }